body{
    background-color: #c95e00  !important;
}
.wrapper-main[data-v-739d2bf6] {
    background: #c95e00  !important;
}
.wrapper-main__left--fixeds[data-v-739d2bf6] {
    background: #c95500ad  !important;
}
img{
    display: none;
}